<%= form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :location_name %><br />
    <%= f.text_field :location_name %>
  </div>
  <div class="field">
    <%= f.label :time_to_call %><br />
    <%= f.text_field :time_to_call %>
  </div>
  <div class="field">w
    <%= f.label :number_of_people %><br />
    <%= f.text_field :number_of_people %>
  </div>
  <!-- Add the map -->
  <%= f.hidden_field :yelp_id %>
  <%= f.hidden_field :latitude %>
  <%= f.hidden_field :longitude %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
